<!-- <div>
                <div class="content">
                    <span>Congratulations, you have successfully logged in!!</span>
                    <br />
                    <a (click)="logout()" href="#">Click Here to logout</a>
                </div>
            
            <h1>FideNotes</h1><ul><li (click)="selectNote(note)" *ngFor="let note of notes">{{note.user}}</li></ul>
    <input [(ngModel)]="selectedNote.body">
    
    </div>
    -->
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">FideNotes</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as <label class="navbar-link">{{user.email}}</label>  <a (click)="logout($event)">Click here to logout </a></p>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->


<div class="container" style="    padding-top: 70px;">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>

      <div class="alert alert-danger" role="alert" *ngIf="onError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> {{alertMsg}}
      </div>

      <div class="alert alert-success alert-dismissible" role="alert" *ngIf="onSuccess">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Hey there:</span> {{alertMsg}}
      </div>

      <div class="jumbotron">
        <h1>Let's try couch-notes</h1>
        <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Easy to use</p>
        <p><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Faster and Reliable</p>
        <p><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Cross-platform</p>
        <p><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Keep everything in cloud</p>

        <textarea [(ngModel)]="newNote.body"></textarea>
        <button class="btn btn-primary" (click)="create(newNote)">Add New</button> <!--<button class="btn btn-info" (click)="update(selectedNote)">Update</button>-->
      </div>


      <div id="text-editor" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{title | truncate : 20 : ''}}</h4>
            </div>
            <div class="modal-body">
              <textarea [(ngModel)]="selectedNote.body"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button"  (click)="update(selectedNote)" class="btn btn-primary">Save changes</button>
              <button type="button"  (click)="delete(selectedNote)" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- <ul><li (click)="selectNote(note)" *ngFor="let note of notes">{{note.user}}</li></ul>-->
      <div class="row">

        <div (click)="selectNote(note)" *ngFor="let note of notes" class="col-xs-6 col-lg-4">
          <h2>{{note.body | truncate : 10 : ''}} </h2>
          <p> {{note.body | truncate : 117 }} </p>
          <p><a class="btn btn-default" (click)="selectNote(note)" data-toggle="modal" data-target="#text-editor" role="button">View more &raquo;</a></p>
        </div>
        <!--/.col-xs-6.col-lg-4-->

        <!-- <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>-->
      </div>
      <!--/row-->
    </div>
    <!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Private</a>
        <a href="#" class="list-group-item">Share</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div>
    <!--/.sidebar-offcanvas-->
  </div>
  <!--/row-->

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>

</div>
<!--/.container-->